.header--index {
    position: relative; /* Замість absolute/fixed */
    background-image: url(../img/header/header-hero-backgrnd.svg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw; 
    height: 110vh; 
}


.hero__content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    padding: 0; 
}



.hero__title{
    color: var(--base-color);
    text-align: center;
    font-size: 74px;
}

@media (max-width: 768px) {
    .hero__title{
        font-size: 48px;
        font-weight: 400;
    }
  }

.hero__subtitle{
    color: var(--base-color);
    text-align: center;
    padding: 10px 0px;
    font-size: 28px;
    font-weight: 400;
}

.hero__button button {
    padding: 12px 25px;
    background-color: #2091F9;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none;
  }

  .hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero__button button:hover {
    background-color:#12375a;
}
