
.features__content{
    justify-content: center;
    text-align: center;
    padding: 100px 20px; 
}

.features__title{
    color: var(--primary-color);
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    padding: 10px;
    gap:10px;
}

.features__subtitle{
    color: var(--primary-color);
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding: 10px;
    gap:10px;
}

