.header--index {
    position: relative; /* Замість absolute/fixed */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/header-bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw; 
    height: 110vh; 
    
}
.header--index::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 15vh;
    background-color: white;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

/* Правий трикутний виріз */
.header--index::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 15vh;
    background-color: white;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}


.hero__content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    padding: 0; 
}



.hero__title{
    color: var(--base-color);
    text-align: center;
    font-size: 74px;
}

@media (max-width: 768px) {
    .hero__title{
        font-size: 48px;
        font-weight: 400;
    }
  }

.hero__subtitle{
    color: var(--base-color);
    text-align: center;
    padding: 10px 0px;
    font-size: 28px;
    font-weight: 400;
}

.hero__button button {
    padding: 12px 25px;
    background-color: #2091F9;
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 236px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none;
  }

  .hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero__button button:hover {
    background-color:#12375a;
}
