<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>
    <header class="header header--index">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="global.header-nav.partial.html"
        ></nav>
        <div class="container">
          <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.hero.partial.html"
          ></section>
          <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.features.partial.html"
          ></section>
        </div>
      </header>
</body>
</html>